{% extends 'base.html' %}
{% load staticfiles %}


        {% block content %}
        <div class="section-header"></div>
        <h2 class="pricing-title">Our Menu</h2>
        <ul id="filter-list" class="clearfix">
            <li class="filter" data-filter="all">All</li>
            <li class="filter" data-filter=".breakfast">Breakfast</li>
            <li class="filter" data-filter=".special">Special</li>
            <li class="filter" data-filter=".desert">Desert</li>
            <li class="filter" data-filter=".dinner">Dinner</li>
        </ul><!-- @end #filter-list -->
        </div>
        {% endblock %}

    
    {% block menulist %}
    <div class="container">
            <div class="row">  
                <div class="col-md-10 col-md-offset-1">
                    <ul id="menu-pricing" class="menu-price">
                        {% for dish in Dishes %}
                        <li class="item dinner">

                            <a href="#">
                                <img src="{{dish.image.url}}" class="img-responsive" alt="Food" >
                                <div class="menu-desc text-center">
                                    <span>
                                        <h3>{{dish.name}}</h3>
                                        {{dish.description}}
                                    </span>
                                </div>
                            </a>
                                
                            <h4 class="white">Rs. {{dish.price}} </h4><a href='{% url "update_cart" dish.id %}'><button>Add+</button></a>
                        </li>
                        {% endfor %}
<!--
                        <li class="item breakfast">

                            <a href="#">
                                <img src="{% static 'images/food2.jpg' %}" class="img-responsive" alt="Food" >
                                <div class="menu-desc">
                                    <span>
                                        <h3>Prawn Dish</h3>
                                        Lorem ipsum dolor sit amet
                                    </span>
                                </div>
                            </a>
                                
                            <h2 class="white">$20</h2>
                        </li>
                        <li class="item desert">

                            <a href="#">
                                <img src="{% static 'images/food3.jpg' %}" class="img-responsive" alt="Food" >
                                <div class="menu-desc">
                                    <span>
                                        <h3>Salad Dish</h3>
                                        Consectetur adipisicing elit, sed do eiusmod
                                    </span>
                                </div>
                            </a>
                                
                            <h2 class="white">$18</h2>
                        </li>
                        <li class="item breakfast special">

                            <a href="#">
                                <img src="{% static 'images/food4.jpg' %}" class="img-responsive" alt="Food" >
                                <div class="menu-desc">
                                    <span>
                                        <h3>Prawn Dish</h3>
                                        Tempor incididunt ut labore et dolore
                                    </span>
                                </div>
                            </a>
                                
                            <h2 class="white">$15</h2>
                        </li>
                        <li class="item breakfast">

                            <a href="#">
                                <img src="{% static 'images/food5.jpg' %}" class="img-responsive" alt="Food" >
                                <div class="menu-desc">
                                    <span>
                                        <h3>Vegetable Dish</h3>
                                        Magna aliqua. Ut enim ad minim veniam
                                    </span>
                                </div>
                            </a>
                                
                            <h2 class="white">$20</h2>
                        </li>
                        <li class="item dinner special">

                            <a href="#">
                                <img src="{% static 'images/food6.jpg' %}" class="img-responsive" alt="Food" >
                                <div class="menu-desc">
                                    <span>
                                        <h3>Chicken Dish</h3>
                                        Quis nostrud exercitation ullamco laboris
                                    </span>
                                </div>
                            </a>

                            <h2 class="white">$22</h2>
                        </li>
                        <li class="item desert">

                            <a href="#">
                                <img src="{% static 'images/food7.jpg' %}" class="img-responsive" alt="Food" >
                                <div class="menu-desc">
                                    <span>
                                        <h3>Vegetable Noodles</h3>
                                        Nisi ut aliquip ex ea commodo
                                    </span>
                                </div>
                            </a>

                            <h2 class="white">$32</h2>
                        </li>
                        <li class="item dinner">

                            <a href="#">
                                <img src="{% static 'images/food8.jpg' %}" class="img-responsive" alt="Food" >
                                <div class="menu-desc">
                                    <span>
                                        <h3>Special Salad</h3>
                                        Duis aute irure dolor in reprehenderit
                                    </span>
                                </div>
                            </a>

                            <h2 class="white">$38</h2>
                        </li>
                        <li class="item desert special">

                            <a href="#">
                                <img src="{% static 'images/food9.jpg' %}" class="img-responsive" alt="Food" >
                                <div class="menu-desc">
                                    <span>
                                        <h3>Ice-cream</h3>
                                        Excepteur sint occaecat cupidatat non
                                    </span>
                                </div>
                            </a>
                            
                            <h2 class="white">$38</h2>
                        </li>  -->
                    </ul>

                    <!-- <div class="text-center">
                            <a id="loadPricingContent" class="btn btn-middle hidden-sm hidden-xs">Load More <span class="caret"></span></a>
                    </div> -->

                </div>   
            </div>
        </div>
        {% endblock %}